//Part Number: GW1NR-LV9QN88PC6/I5
//Tang nano 9k Trainer board pinout
//Onboard pins
IO_LOC "clk" 52;
IO_PORT "clk" PULL_MODE=UP;
CLOCK_LOC "clk"
IO_LOC "led[0]" 10;
IO_LOC "led[1]" 11;
IO_LOC "led[2]" 13;
IO_LOC "led[3]" 14;
IO_LOC "led[4]" 15;
IO_LOC "led[5]" 16;
//Onboard push buttons
IO_LOC "key" 3;
IO_LOC "rst" 4;

//Use 3.3V GPIO pins
//Trainer board buttons
IO_LOC "btnU" 63;
IO_LOC "btnD" 77;
IO_LOC "btnL" 76;
IO_LOC "btnR" 48;
IO_LOC "btnX" 49;
IO_LOC "btnC" 54;

//7 segment display pins
IO_LOC "dp" 57;
IO_LOC "seg[6]" 56;
IO_LOC "seg[5]" 55;
IO_LOC "seg[4]" 75;
IO_LOC "seg[3]" 74;
IO_LOC "seg[2]" 73;
IO_LOC "seg[1]" 72;
IO_LOC "seg[0]" 71;

//Onboard switches
IO_LOC "sw[1]" 31;
IO_LOC "sw[0]" 32;

//Use 1.8V GPIO pins
//with output buffer
//ONLY OUTPUTS SN74LV4T125
//7 segments common cathode
//enable pins
IO_LOC "en[2]" 86;
IO_LOC "en[3]" 85;
IO_LOC "en[1]" 84;
IO_LOC "en[0]" 83;

//RGB led
IO_LOC "R" 82;
IO_LOC "G" 81;
IO_LOC "B" 80;

//Led on top SW1 and SW2
IO_LOC "led[6]" 79;

//Use 3.3V GPIO pins from here
IO_LOC "led[7]" 69;

//PMOD connector J4
IO_LOC "J4[7]" 42;
IO_LOC "J4[6]" 41;
IO_LOC "J4[5]" 35;
IO_LOC "J4[4]" 40;
IO_LOC "J4[3]" 34;
IO_LOC "J4[2]" 33;
IO_LOC "J4[1]" 30;
IO_LOC "J4[0]" 29;

//PMOD connector J3
IO_LOC "J3[7]" 28;
IO_LOC "J3[6]" 27; 
IO_LOC "J3[5]" 26;
IO_LOC "J3[4]" 25;
IO_LOC "J3[3]" 39;
IO_LOC "J3[2]" 36;
IO_LOC "J3[1]" 37;
IO_LOC "J3[0]" 38;

//UART pins connected to serial
//converter
IO_LOC "tx" 17;
IO_LOC "rx" 18;

//I2C expansion header
IO_LOC "ir" 53;
IO_LOC "sda" 51;